{
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "globals": {},
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "singleQuote": true,
                "semi": false
            }
        ],
        "no-unused-vars": [
            "error"
        ],
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "no-console": "error"
    }
}